[project]
	description = Play Black Jack and win Gamerscoins.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonygame (johngame)
[access "refs/for/refs/*"]
	read = group user/Jonygame (johngame)
	push = group user/Jonygame (johngame)
	label-Code-Review = -2..+2 group user/Jonygame (johngame)
	label-Verified = -1..+1 group user/Jonygame (johngame)
	rebase = group user/Jonygame (johngame)
	removeReviewer = group user/Jonygame (johngame)
	submit = group user/Jonygame (johngame)
[access "refs/heads/*"]
	read = group user/Jonygame (johngame)
	create = group user/Jonygame (johngame)
	push = +force group user/Jonygame (johngame)
	pushMerge = group user/Jonygame (johngame)
[access "refs/tags/*"]
	push = +force group user/Jonygame (johngame)
	pushTag = group user/Jonygame (johngame)
	pushSignedTag = group user/Jonygame (johngame)
